.w_150px{
    width: 150px;
}
.w_h_300px{
    width: 300px;
    height: 300px;
}
.w_h_200px{
    width: 200px;
    height: 200px;
}
.w_1000px{
    width: 1000px;
}
.h_50px{
    height: 50px;
}
.h_15px{
    height: 15px;
}
.w_500px{
    width: 500px;
}
.h{
    height: 1000vh;
}
.w_80{
    width: 80%;
}